---
layout: default
title: blog: Eric Isaacs
---

<div id="home">
  <!--<h1>Blog Posts</h1>-->
  <ul class="posts">
    {% for post in paginator.posts %}
      <li class="post">
      	<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      	<p class="metadata">{{ post.date | date: "%B %-d, %Y" }} | <a href="{{ post.url }}#disqus_thread"></a></p>
      	{{ post.content }}
      	<p class="end-post">&sect;</p>
      </li>
    {% endfor %}
  </ul>


  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        {{ page }}
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
  {% endif %}


</div>