<div id="blogroll">
<h2>Inspiration</h2>
<br />
<ul>
  <li><a href="http://waywardspark.com/" target="_blank">Wayward Spark</a></li>
  <li><a href="http://www.whileoutriding.com/blog" target="_blank">While Out Riding</a></li>
  <li><a href="http://stephaniemariehowe.blogspot.com/" target="_blank">Adventures in Running</a></li>
  <li><a href="http://irunmountains.blogspot.com/" target="_blank">Rocky Mountain Dirt Running</a></li>
  <li><a href="http://www.theatlantic.com/infocus/" target="_blank">In Focus - The Atlantic</a></li>
  <li><a href="http://www.trailporn.com/" target="_blank">Trail Porn</a></li>
  <li><a href="http://clawofraven.blogspot.com/" target="_blank">coordination</a></li>
  <li><a href="http://theycallmedarthveda.weebly.com/" target="_blank">They Call Me Darth Veda</a></li>
</ul>
</div>